= form_for @item do |f|
  .new-wrapper
    .new-wrapper__header
      = link_to root_path do
        = image_tag "material/logo/logo.png"
    = render 'layouts/error_messages'
    .new-wrapper__main
      .new-wrapper__main__errors-message
        - if flash[:error].present?
          - flash[:error].each do |e|
            = e
      .new-wrapper__main__title
        出品画像
        %span.require 必須
      .new-wrapper__main__text
        最大10枚までアップロードできます
      .flexbox
        - if @item.images.count != 0
        .new-wrapper__main__preview
          - num = 0
            - @item.images.each do |i|
            - num += 1
              .new-wrapper__main__preview__image{data: {index: "#{num}"}}
                = image_tag ("#{i.image}"), class: "new-wrapper__main__preview__image__img", data: {index: "#{num}"}
                .delete-btn{index:"#{num}"}
                  %i{class: "far fa-times-circle"}
        %label{id: "image-wrapper", action: request.path}
          .new-wrapper__main__image-field
            %i{class: "fas fa-camera"}
            .new-wrapper__main__image-field__text
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
          = f.fields_for :images do |i|
            = i.file_field :image, {class: "file-field", name: "item[images_attributes][#{@item.images.count}][image]", id: "item_images_attributes_#{@item.images.count}_image"}
            - if @item.persisted?
              = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
    .new-wrapper__main
      .new-wrapper__main__title
        商品名
        %span.require 必須
      = f.text_field :name, {class: "new-wrapper__main__input-text", placeholder: "40文字まで"}
      .new-wrapper__main__title.spacing
        商品の説明
        %span.require 必須
      = f.text_area :introduction, {class: "new-wrapper__main__input-textarea", placeholder: "商品の説明(必須 1,000文字以内)\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
    .new-wrapper__main
      .new-wrapper__main__subtitle
        商品の詳細
      .new-wrapper__main__title
        カテゴリー
        %span.require 必須
      #category-select
      .new-wrapper__main__title.spacing
        ブランド
        %span.any 任意
      = f.text_field :brand, {class: "new-wrapper__main__input-text", placeholder: "例）シャネル"}
      .new-wrapper__main__title.spacing
        商品の状態
        %span.require 必須
      = f.collection_select :condition_id, Condition.all, :id, :name,{prompt: "選択してください"}, {class: "new-wrapper__main__input-select"}
    .new-wrapper__main
      .new-wrapper__main__subtitle
        配送について
      .new-wrapper__main__title
        配送料の負担
        %span.require 必須
      = f.collection_select :postage_player_id, PostagePlayer.all, :id, :name,{prompt: "選択してください"}, {class: "new-wrapper__main__input-select"}
      .new-wrapper__main__title.spacing
        発送元の地域
        %span.require 必須
      = f.collection_select :region_id, Region.all, :id, :name,{prompt: "選択してください"}, {class: "new-wrapper__main__input-select"}
      .new-wrapper__main__title.spacing
        発送までの日数
        %span.require 必須
      = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name,{prompt: "選択してください"}, {class: "new-wrapper__main__input-select"}
    .new-wrapper__main
      .new-wrapper__main__subtitle
        価格（¥300〜9,999,999）
      .new-wrapper__main__price
        .new-wrapper__main__title
          販売価格
          %span.require 必須
        .new-wrapper__main__input-price
          ¥
          = f.text_field :price, {class: "new-wrapper__main__input-price__input", placeholder: 0}
    .new-wrapper__main
      %input{type: "submit", value: "出品する", class:"new-wrapper__main__submit"}
      = link_to root_path, class: "link-blue" do
        もどる
      .new-wrapper__main__caution
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。