.productList
  = link_to item_path(item.id) do
    .productList--img
      = image_tag ("#{item.images.first.image}")
    -if item.soldout.present?
      .productList__sold
        SOLD OUT
    .productList--body
      = item.name
      %h3.name
      .details
        %ul
          
          = "#{item.price}円"
          %li
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)