.productList
  = link_to item_path(item.id) do
    .productList--img
      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
    .productList--body
      = item.name
      %h3.name
      .details
        %ul
          
          = "#{item.price}円"
          %li
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)