.productList
  = link_to item_path(item.id) do
    .productList--img
      - item.images.each.with_index(1) do |image,i|
        - if i == 1
          = image_tag("#{image.image}")
    .productList--body
      = item.name
      %h3.name
      .details
        %ul
          
          = "#{item.price}円"
          %li
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)