.Main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body
            %ul
              %li
                = image_tag("#{@item.images.first.image}")
                %ul
                  %li
                    = image_tag("#{@item.images.first.image}")
                  %li
                    = image_tag("#{@item.images.first.image}")
                  %li
                    = image_tag("#{@item.images.first.image}")
          .itemBox__price
            %span
              = "#{@item.price}円"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail
            =@item.introduction 
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @item.user_id
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#" do
                      = @item.category.parent.parent.name
                      %br
                      %i{class: "fas fa-chevron-right"}
                      = @item.category.parent.name
                      %br
                      %i{class: "fas fa-chevron-right"}
                      = @item.category.name
                %tr
                  %th ブランド
                  %td
                    = @item.brand
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition.name
                %tr
                  %th 配送料の負担
                  %td
                    = @item.postage_player.name
                %tr
                  %th 発送元の地域
                  %td
                    = link_to "#" do
                      = @item.region.name
                %tr
                  %th 発送日の目安
                  %td
                    = @item.preparation_day.name
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              - if @item.soldout == false
                - if user_signed_in? && current_user.id == @item.user_id
                  %li.editlBtn
                    = link_to edit_item_path(@item.id) do
                      編集
                  %li.deletelBtn
                    = link_to item_path, method: "delete" do
                      削除
                - else
                  %li.optionalBtn
                    = link_to item_orders_path(@item.id) do
                      購入
              - else
                .sold
                  SOLD OUT
        .commentBox
          %ul.commentContents
          %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "T+gYimH82mdWsd1ohHnMvPhBVFQnPB4EK5WrkItmlfg6Mg0sUePuKefeaM0kAq6wDsjMzpKBz4Ac9a2oSDKYZw=="}/
            %textarea#comment_body{:name => "comment[body]", :required => "required"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする
      %ul.links
        %li
          = link_to "#" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        = link_to "ベビー・キッズをもっと見る", "#"
        .productLists
