.Main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body
            %ul
              %li
                - @item.images.each.with_index(1) do |image,i|
                  - if i == 1
                    = image_tag("#{image.image}")
                %ul
                  %li
                    - @item.images.each.with_index(1) do |image,i|
                      - if i == 2
                        = image_tag("#{image.image}")
                  %li
                    - @item.images.each.with_index(1) do |image,i|
                      - if i == 3
                        = image_tag("#{image.image}")
                  %li
                    - @item.images.each.with_index(1) do |image,i|
                      - if i == 4
                        = image_tag("#{image.image}")
          .itemBox__price
            %span
              = "#{@item.price}円"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail
            =@item.introduction 
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @item.user_id
                %tr
                  %th カテゴリー
                  %td
                    %a{:href => "#"}
                      = @item.category.parent.parent.name
                      %br
                      %i{class: "fas fa-chevron-right"}
                      = @item.category.parent.name
                      %br
                      %i{class: "fas fa-chevron-right"}
                      = @item.category.name
                %tr
                  %th ブランド
                  %td
                    = @item.brand
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition
                %tr
                  %th 配送料の負担
                  %td
                    = @item.postage_player
                %tr
                  %th 発送元の地域
                  %td
                    %a{:href => "#"}
                      = @item.region
                %tr
                  %th 発送日の目安
                  %td
                    = @item.preparation_days
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                %a{:href => "#"}
                  %i.fa.fa-flag
                  不適切な商品の通報
        .commentBox
          %ul.commentContents
          %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "T+gYimH82mdWsd1ohHnMvPhBVFQnPB4EK5WrkItmlfg6Mg0sUePuKefeaM0kAq6wDsjMzpKBz4Ac9a2oSDKYZw=="}/
            %textarea#comment_body{:name => "comment[body]", :required => "required"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする
      %ul.links
        %li
          %a{:href => "#"}
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          %a{:href => "#"}
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        %a{:href => "#"} ベビー・キッズをもっと見る
        .productLists
