.create-wrapper
  .create-wrapper__header
    = link_to root_path do
      = image_tag "material/logo/logo.png"
  .create-wrapper__main
    .create-wrapper__main__create
      %p 商品の変更が保存されました！
      %br
      = link_to new_item_path, class: "link-btn" do
        続けて出品する
      = link_to item_path(@item.id), class: "link-btn" do
        出品した商品をみる
      = link_to root_path, class: "link-btn" do
        ホームへ