!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample74b
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body

    %header.Header
      .Header__Inner
        %h1.icon
          %a{href: "/"}
            = image_tag "material/logo/logo.png", class:"image"
        .Header__Inner__SearchBox
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.Header__Inner__SearchBox--input{name: "key", placeholder: "キーワードから探す"}/
            .Header__Inner__SearchBox--icon
              = image_tag "material/icon/icon-search 1.png", class:"image"
      .Nav
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            %a#catBtn{href: "#"} カテゴリー
            .tree.displayNone
              /
                <ul class="categoryTree">
                <li class="categoryTree--item"><a id="1" href="#">レディース</a></li>
                <li class="categoryTree--item"><a id="2" href="#">メンズ</a></li>
                <li class="categoryTree--item"><a id="3" href="#">ベビー・キッズ</a></li>
                <li class="categoryTree--item"><a id="4" href="#">インテリア・住まい・小物</a></li>
                <li class="categoryTree--item"><a id="5" href="#">本・音楽・ゲーム</a></li>
                <li class="categoryTree--item"><a id="6" href="#">おもちゃ・ホビー・グッズ</a></li>
                <li class="categoryTree--item"><a id="7" href="#">コスメ・香水・美容</a></li>
                <li class="categoryTree--item"><a id="8" href="#">家電・スマホ・カメラ</a></li>
                <li class="categoryTree--item"><a id="9" href="#">スポーツ・レジャー</a></li>
                <li class="categoryTree--item"><a id="10" href="#">ハンドメイド</a></li>
                <li class="categoryTree--item"><a id="11" href="#">チケット</a></li>
                <li class="categoryTree--item"><a id="12" href="#">自動車・オートバイ</a></li>
                <li class="categoryTree--item"><a id="13" href="#">その他</a></li>
                </ul>
          %li.listsLeft__item
            %a#brandBtn{href: "#"} ブランド
            %ul.brandsPulldown.displayNone
        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            %a{href: "#"} ログイン
          %li.listsRight__item.listsRight__item--new
            %a{href: "#"} 新規会員登録
          
    = yield

    %footer.Footer
      %ul.contents
        %li.content
          %h2.content__head FURIMAについて
          %ul
            %li
              %a{href: "#"} 会社概要（運営会社）
            %li
              %a{href: "#"} プライバシーポリシー
            %li
              %a{href: "#"} FURIMA利用規約
            %li
              %a{href: "#"} ポイントに関する特約
        %li.content
          %h2.content__head FURIMAを見る
          %ul
            %li
              %a{href: "#"} カテゴリー一覧
            %li
              %a{href: "#"} ブランド一覧
        %li.content
          %h2.content__head ヘルプ＆ガイド
          %ul
            %li
              %a{href: "#"} FURIMAガイド
            %li
              %a{href: "#"} FURIMAロゴ利用ガイドライン
            %li
              %a{href: "#"} お知らせ
      .footer__logo
        %a{href: "/"}
          = image_tag "material/logo/logo-white.png", class:"image"
      %p © FURIMA
    %a{href: "#"}