!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample74b
    = favicon_link_tag('material/logo/favicon.ico')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    %header.header
      .header__Inner
        %h1.icon
          %a{href: "/"}
            = image_tag "material/logo/logo.png", class:"image"
        .header__Inner__SearchBox
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.header__Inner__SearchBox--input{name: "key", placeholder: "キーワードから探す"}/
            .header__Inner__SearchBox--icon
              = image_tag "material/icon/icon-search 1.png", class:"image"
      .header__Nav
        %ul.header__Nav__listsLeft
          %li.header__Nav__listsLeft__item.header__Nav__listsLeft__item--first
            %a#catBtn{href: "#"} カテゴリー
            .tree.displayNone

          %li.header__Nav__listsLeft__item
            %a#brandBtn{href: "#"} ブランド
            %ul.brandsPulldown.displayNone
        %ul.header__Nav__listsRight
          %li.header__Nav__listsRight__item.header__Nav__listsRight__item--login
            - if user_signed_in?
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path
          %li.header__Nav__listsRight__item.header__Nav__listsRight__item--new
            - if user_signed_in?
              = link_to "マイページ", "users/show"
            - else
              = link_to "新規会員登録", new_user_registration_path
        
    = yield

    %footer.Footer
      %ul.contents
        %li.content
          %h2.content__head FURIMAについて
          %ul
            %li
              %a{href: "#"} 会社概要（運営会社）
            %li
              %a{href: "#"} プライバシーポリシー
            %li
              %a{href: "#"} FURIMA利用規約
            %li
              %a{href: "#"} ポイントに関する特約
        %li.content
          %h2.content__head FURIMAを見る
          %ul
            %li
              %a{href: "#"} カテゴリー一覧
            %li
              %a{href: "#"} ブランド一覧
        %li.content
          %h2.content__head ヘルプ＆ガイド
          %ul
            %li
              %a{href: "#"} FURIMAガイド
            %li
              %a{href: "#"} FURIMAロゴ利用ガイドライン
            %li
              %a{href: "#"} お知らせ
      .footer__logo
        %a{href: "/"}
          = image_tag "material/logo/logo-white.png", class:"image"
      %p © FURIMA
    %a{href: "#"}